.itemDetail {
  max-width: 800px;
  min-width: 350px;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  justify-content: center;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.itemDetail img {
  border-radius: 25px;
  width: 200px;
  margin: 0 auto;
}
