.listadoBox {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: max-content;

  justify-content: center;
  margin: 15px auto;
}

.articulo {
  width: 220px;
  height: 310px;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 10px;
}

.articulo img {
  border-radius: 10px;
}
